#footer{
    background-color: #002d46;
    color: #f0f8ff;
    padding-top: 4.3rem!important;
    .brand{
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-right: 1.5rem;
        img{
            max-width: min(100%,200px);
        }
        p{
            font-family: var(--secondFont);
            font-size: 14px;
            font-weight: 500;
            letter-spacing: .04rem;
            text-align: justify;
        }
    }
    .details{
        .accordion{
            @media (max-width:767px) {
                flex-direction: column;
            }
            .accordion-item{
                background-color: transparent !important;
                border: none;
                p{
                    @media (max-width:767px) {
                        border-top: 1px solid white;
                        padding-top: 15px;
                    }
                    margin: 0;
                    button{
                        text-transform: uppercase;
                        padding: 0 0 15px 0;
                        color: #00b9aa;
                        font-size: 18.5px;
                        font-weight: 800;
                        padding-bottom: 0.7rem;
                        background-color: transparent;
                        box-shadow: none;
                    }
                }
                .accordion-body{
                    padding: 5px 0;
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li{
                            margin-bottom: 3px!important;
                            button,a{
                                color: #fff;
                                font-size: 15px;
                                font-weight: 500;
                                position: relative;
                                text-decoration: none;
                                background-color: transparent;
                                border: none;
                            }
                            button::before,a::before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 1.4px;
                                border-radius: 2px;
                                background-color: rgba(255, 255, 255, 0.541);
                                bottom: -2px;
                                left: 0;
                                transform-origin: right;
                                transform: scaleX(0);
                                transition: transform .3s ease-in-out;
                              }
                              
                              button:hover::before,a:hover::before {
                                transform-origin: left;
                                transform: scaleX(1);
                              }
                        }
                    }
                }
            }
        }
        
    }
    .get-in-touch{
        @media (max-width:767px) {
            padding-top: 20px;
        } 
        p{
            color: #00b9aa;
            font-size: 18.5px;
            font-weight: 800;
            padding-bottom: 0.8rem;
        }
        span{
            color: #fff;
            font-size: 15px;
            font-weight: 400;
        }
        .contact{
            span{
                color: #fff;
                font-size: 15px;
                font-weight: 400;
                a{
                    text-decoration: none;
                    color:#b9b9b9;
                }
            }
        }
        h5{
            font-size: 17px;
        }
        .email{
            margin: 0;
            padding: 0 0 0 12px;
            input{
                border: 0;
                height: 2.9rem;
                width: 100%;
                color: grey;
                font-style: italic;
                padding-left: 4%;
            }
        }
        .subscribe{

            button{
                background-color: #0000;
                border: 1.5px solid #fff;
                border-radius: 5px;
                color: #fff;
                font-size: 15px;
                font-weight: 700;
                height: 2.9rem;
                margin: 0;
                padding: 0 1.1rem;
                width: auto;
            }
        }
    }
    
    .copywrite{
        p{
            font-family: var(--secondFont);
            font-weight: 400;
        }
    }
}