#navbar{
    display: flex;
    width: 100%;
    height: 4.3rem;
    .logo{
        width: 18%;
        display: flex;
        button{
            display: none;
            img{
                height: 2.4rem;
            }
        }
        img{
            width: 150px;
            float: left;
            height: 2.8rem;
            margin-left: 0 !important;
        }
        @media (max-width:992px) {
            display: grid;
            grid-template-columns: 2fr 8fr;
            width: 77%;
            button{
                display: block;
                border: none;
                background: transparent;
                transition: ease-in-out all .5s;
                img{
                    width: 34px;
                    height: 33px;
                }
            }
            a{
                display: flex;
                justify-content: center;
            }
        }
    }
    .mainlinks{
        width: 64%;
        display: flex;
        margin: 0 auto;
        position: relative;
        ul{
            display: flex;
            gap: 2.4rem;
            list-style: none;
            width: 100%;
            align-items: center;
            margin-bottom: 0%;
            justify-content: center;
            li{
                a{
                    text-decoration: none;
                    color: rgb(1 45 70);
                    font-size: 15.7px;
                    font-weight: 700;
                    margin-bottom: 0 !important;
                    position: relative;
                    img{
                      display: none;
                    }
                }
                a::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    border-radius: 2px;
                    background-color: #24e0b9;
                    bottom: -1px;
                    left: 0;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                  }
                  
                  a:hover::before {
                    transform-origin: left;
                    transform: scaleX(1);
                  }
            }
        }
        @media (max-width:992px) {
            display: none !important;
        }
    }
    #mobile-view{
        display: flex !important;
        top: 4.3rem;
        height: calc(100vh - 4.3rem);
        position: absolute;
        background-color: #0006;
        width: 100%;
        z-index: 999;
        left: 0;
        ul{
            background-color: white;
            width: 50%;
            display: block;
            padding-top: 20px;
            @media (max-width:768px) {
                width: 85%;
            }
            li{
                margin-bottom: 7.8px;
                display: flex;
                justify-content: space-between;
                a{
                    font-size: 17.2px;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    img{
                        display: block;
                        width: 24px;
                        height: 21px;
                        margin-right: 15px;
                    }
                }
                a::before{
                    background-color: transparent;
                }
                a:hover{
                    img{
                        width: 26px;
                        height: 23px;
                        transition: ease-in-out 0.15s;
                    }
                }
            }
        }
    }
    .mainicons{
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        margin-right: 2rem;
        // position: relative;
        ul{
            display: flex;
            list-style: none;
            gap: 1.5rem;
            float: right;
            margin-bottom: 0;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    img{
                        width: 23px;
                        height: 23px;
                    }
                }
            }
        }
        @media (max-width:992px) {
            
        }
    }
}

// .coontainer{
//     width: 86% !important;
//     margin: 0 auto;
//     @media (max-width:768px) {
//         width: 94% !important;
//         margin: 0 auto;
//     }
// }