// body{

// }

.coontainer{
    .row{
        .col-2{
            margin: 0;
            padding: 0;
            a{
                img{
                    width: 155px;
                    float: left;
                    margin-left: 0 !important;
                }
            }
        }
        .col-8{
            display: flex;
            margin: 0 auto;
            ul{
                display: flex;
                gap: 2.4rem;
                list-style: none;
                width: 100%;
                align-items: center;
                margin-bottom: 0%;
                justify-content: center;
                li{
                    a{
                        text-decoration: none;
                        color: #002D46;
                        font-size: 15.7px;
                        font-weight: 700;
                        margin-bottom: 0 !important;
                        position: relative;
                    }
                    a::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2.5px;
                        border-radius: 2px;
                        background-color: lightgreen;
                        bottom: -1px;
                        left: 0;
                        transform-origin: right;
                        transform: scaleX(0);
                        transition: transform .3s ease-in-out;
                      }
                      
                      a:hover::before {
                        transform-origin: left;
                        transform: scaleX(1);
                      }
                }
            }
        }
        .col-2{
            .icons{
                height: 100%;
                display: flex;
                align-items: center;
                float: right;
                margin-right: 2rem;
                ul{
                    display: flex;
                    list-style: none;
                    gap: 1rem;
                    float: right;
                    margin-bottom: 0;
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            img{
                                width: 22px;
                                height: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}